In [2]:
import requests
import pandas as pd
import numpy as np
from io import StringIO

In [3]:
date = '20200513'
r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + date + '&type=ALL')

str_list = []
for i in r.text.split('\n'):
    if len(i.split('",')) == 17 and i[0] != '=':       
        i = i.strip(",\r\n")
        str_list.append(i)      
        
df = pd.read_csv(StringIO("\n".join(str_list))) 

pd.set_option('display.max_rows', None) #設定最大能顯示1000rows
df.head(10)

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,1101,台泥,"16,361,936","7,256","695,975,641",42.70,42.90,42.30,42.90,-,0.05,42.85,5,42.90,27,10.44
1,1101B,台泥乙特,"3,040",3,"165,668",54.50,54.50,54.50,54.50,,0.00,53.90,10,54.50,6,0.00
2,1102,亞泥,"4,072,473","2,153","179,052,273",44.10,44.15,43.80,43.95,-,0.25,43.95,12,44.00,39,8.47
3,1103,嘉泥,"834,490",308,"13,830,952",16.60,16.70,16.50,16.65,-,0.05,16.60,11,16.65,69,8.28
4,1104,環泥,"373,082",214,"6,529,691",17.45,17.60,17.40,17.60,-,0.10,17.55,1,17.60,56,11.21
5,1108,幸福,"191,200",57,"1,497,009",7.80,7.88,7.80,7.86,+,0.06,7.86,3,7.88,15,71.45
6,1109,信大,"307,270",154,"5,428,113",17.80,17.80,17.55,17.70,-,0.15,17.70,4,17.75,67,6.28
7,1110,東泥,"21,000",10,"328,050",15.50,15.65,15.50,15.65,+,0.20,15.55,1,15.65,3,0.00
8,1201,味全,"1,547,707",736,"34,563,925",22.40,22.65,22.00,22.60,+,0.10,22.60,18,22.65,12,8.46
9,1203,味王,"74,855",41,"2,095,015",28.00,28.15,27.85,28.05,+,0.05,28.05,16,28.10,3,14.61

In [4]:
index = list(df['證券名稱']).index('台積電')
df.loc[index:index]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
274,2330,台積電,"46,158,418","14,555","13,619,538,824",293.00,297.00,292.50,297.00,+,2.0,296.50,334,297.00,632,22.30

In [10]:
df[(pd.to_numeric(df['本益比'], errors='coerce') < 10) &
   (pd.to_numeric(df['本益比'], errors='coerce') > 0)].sort_values(by='本益比',ascending=False).head(10)

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
472,2845,遠東銀,"1,535,347",445,"16,455,230",10.70,10.75,10.65,10.75,+,0.05,10.75,133,10.80,220,9.95
469,2838,聯邦銀,"987,200",313,"10,585,959",10.70,10.80,10.65,10.80,+,0.10,10.75,141,10.80,644,9.91
490,2887,台新金,"11,556,860","3,318","144,019,090",12.40,12.55,12.40,12.45,,0.00,12.45,"2,725",12.50,256,9.88
283,2347,聯強,"9,607,661","4,814","391,496,810",40.00,41.25,40.00,41.00,+,1.60,40.95,1,41.00,57,9.86
462,2812,台中銀,"3,903,522","1,034","44,544,442",11.35,11.50,11.30,11.40,+,0.05,11.40,596,11.45,4,9.83
416,2539,櫻花建,"379,290",121,"12,777,010",33.60,33.75,33.55,33.70,+,0.05,33.70,11,33.75,10,9.80
755,5871,中租-KY,"4,414,496","2,561","505,442,008",113.50,116.50,112.50,116.50,+,0.50,116.00,24,116.50,60,9.79
143,1604,聲寶,"870,938",259,"17,180,471",19.65,19.85,19.60,19.85,+,0.20,19.70,36,19.85,68,9.73
317,2392,正崴,"2,509,545","1,270","94,887,074",37.85,38.10,37.60,37.95,-,0.25,37.95,3,38.00,9,9.63
52,1341,富林-KY,"42,006",25,"2,549,972",62.00,62.10,60.00,60.00,-,2.00,61.10,2,61.90,3,9.62

In [10]:
import requests
from bs4 import BeautifulSoup


# 網址後方加上 MARKET:STOCK_ID 即為個股資訊. e.g, TPE:2330
G_FINANCE_URL = 'https://www.google.com/search?q='


def get_web_page(url, stock_id):
    ##浏览器请求头（大部分网站没有这个请求头会报错、请务必加上哦）
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                             'AppleWebKit/537.36 (KHTML, like Gecko) '
                             'Chrome/66.0.3359.181 Safari/537.36'}
    resp = requests.get(url + stock_id, headers=headers)
    if resp.status_code != 200:
        print('Invalid url:', resp.url)
        return None
    else:
        return resp.text


def get_stock_info(dom):
    soup = BeautifulSoup(dom, 'html.parser')
    stock = dict()

    sections = soup.find_all('g-card-section')
    

    stock['name'] = sections[1].div.text

    spans = sections[1].find_all('div', recursive=False)[1].find_all('span', recursive=False)
    stock['current_price'] = spans[0].text
    stock['current_change'] = spans[1].text


    for table in sections[3].find_all('table'):
        for tr in table.find_all('tr')[:3]:
            key = tr.find_all('td')[0].text.lower().strip()
            value = tr.find_all('td')[1].text.strip()
            stock[key] = value

    return stock


if __name__ == '__main__':
    page = get_web_page(G_FINANCE_URL, 'TPE:2330')
    if page:
        stock = get_stock_info(page)
        for k, v in stock.items():
            print(k, v)

name 台灣積體電路製造TPE: 2330
current_price 已收盤: 5月14日 下午1:30 [GMT+8] ·
current_change 免責聲明
開盤 293.00
最高 295.00
最低 292.50
殖利率 3.24%
上次收盤價 297.00
52 週高點 346.00